.idea
/rapport/IED_lang_fouille_ia.aux
/rapport/IED_lang_fouille_ia.log
/rapport/IED_lang_fouille_ia.out
/rapport/IED_lang_fouille_ia.synctex.gz
/rapport/IED_lang_fouille_ia.toc
/rapport/IED_lang_fouille_ia.bbl
/rapport/IED_lang_fouille_ia.blg

project_database/
project_data/
tmp/
.venv/
src/__pycache__/
src/modules/__pycache__/
src/program/__pycache__/
src/stages/__pycache__/
src/annexes/__pycache__/

/rapport/Schéma/.$*.bkp
/models/
config/errol.ini
config/mongo/createUser.js
config/postgres/init.sql
