.idea
/rapport/IED_lang_fouille_ia.aux
/rapport/IED_lang_fouille_ia.log
/rapport/IED_lang_fouille_ia.out
/rapport/IED_lang_fouille_ia.synctex.gz
/rapport/IED_lang_fouille_ia.toc

project_database/
project_data/
/venv-fl/

config/errol.ini
